body{
    
    color: var(--clr-primary);
   
}
/* Top Nav */
.c-top-navbar{
    overflow: hidden;
    position: relative;
    padding: 14px 16px; 
    
}

.c-top-navbar__logo{
    
    font-weight: 800;
    text-decoration: none;
    font-size: 20px;
    
}

.c-top-navbar__nav{
    display: none;
}
.c-top-navbar__item {
    display: block;
}

.u-no-style-link{
    
    text-decoration: none;
    font-size: 17px;
}
.u-li-padding{
    padding-top:14px;
}
.active,a:hover {
    font-weight: 800;
    color: var(--clr-accent-dark);
}

/* Position top nav */
.l-flex{
    display: flex;
    justify-content: space-between;
}
.c-top-navbar__hamburger-menu {
    
   
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    padding: 20px 20px;
}

/* Sidebar */

.c-sidebar {
    width: 200px;
}

.c-sidebar__list{
    list-style: none;
    padding: 0;
    margin: 0;
}

.c-sidebar__heading {
    margin: 0;
    padding-top: 10px ;
}
/* Swatches in colors.html */
.c-swatch {
    display: inline-block;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
}
/* Styles for desktop view */
@media screen and (min-width: 769px) {
    

    .c-top-navbar__logo-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    } 

    .c-top-navbar__nav,.c-top-navbar__list {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    
    .c-top-navbar__hamburger-menu {
        display: none;
        /* Hide the hamburger icon on larger screens */
    }

}