body {
    color: var(--clr-primary);
    /* Body text color */
}

/* Sidebar */
.c-sidebar {
    width: 200px;
    display: none;
    position: fixed;
        top: 150px;
        left: 0;
        z-index: 1;
        height: calc(100vh - 100px);
            overflow-y: auto;
            scrollbar-width: none;
                /* For Firefox */
                -ms-overflow-style: none;
                /* For Internet Explorer and Edge */
    /* Hide sidebar by default */
}


.c-sidebar__list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.c-sidebar__heading {
    margin: 0;
    padding-top: 10px;
    /* Padding for sidebar heading */
}
/* Main section */
.c-main-section{
    margin-top: 120px;
}
.c-intro-content{
    flex-direction: column;
   
}
/* Swatches in colors.html */
.c-swatch {
    display: inline-block;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
}

.c-swatch__colorBlock {
    height: 100px;
    width: 100px;
    border-radius: 50px;
    border: 1px solid black;
}
.l-position-fixed-top-left {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}
.l-position-fixed-top200-left{
    position: fixed;
        top: 150px;
        left: 0;
        z-index: 1;
}

.u-overflow-scroll {
    overflow: scroll;
}

/* COLORS PAGE */


.c-swatches__swatch-card {
    display: inline-block;
    width: 240px;
    text-align: center;
}

.c-swatches__color-container {
    height: 230px;
    width: 200px;
    overflow: hidden;
    border-radius: 0px 0px 20px 20px;
    display: inline-block;
    
}

 .c-swatches__swatch {
    transform: skew(0deg, -13deg);
    height: 250px;
    margin: -35px 0px 0px -70px;
    
}

.c-swatches__inner-skew {
    display: inline-block;
    border-radius: 20px;
   
    overflow: hidden;
    padding: 0px;
    transform: skew(0deg, 13deg);
    font-size: 0px;
    margin: 30px 0px 0px 0px;
    
    height: 250px;
    width: 200px;
}

.c-swatches__text-container {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    padding: 120px 20px 20px 20px;
    border-radius: 20px;
    
    margin: -120px 0px 0px 0px;
}

.c-swatches__text-container h3 {
    margin: 20px 0px 10px 0px;
    
    font-size: 18px;
}
/* Align table text to center */
.c-contrast-table{
    text-align: center;
}
.c-contrast-table__title-row{
    border-bottom: 1px black solid;
}
/* Hide list styling */
.c-swatches__uses-list{
    list-style-type: none;
}
/* Section to display font faces */
.c-typeface{
    border-radius: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}
.c-code-block{
   
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    overflow-x: auto;    /* Allow horizontal scrolling if content overflows */
    max-width: 100%;     /* Ensure code block doesn't exceed its container's width */
    white-space: pre-wrap;     /* Wrap long lines */
    
}

/* Code for Accordion from https: //codepen.io/amit_sheen/pen/OJpExOB */


article {
    
    padding: 1em;
    margin: 1em auto;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
}

input[type="radio"] {
    appearance: none;
    position: fixed;
    top: -100vh;
    left: -100vh;

    &~div {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.5s;
    }

    &:checked~div {
        max-height: 200px;
    }
}

/* Spacing page */
.c-spacing-container{
    border:2px solid var(--clr-primary);
    
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}
/* About-me page */
.c-main-section__portfolio-image{
    width: 500px;
    max-width: 100%;
}
 
/* Styles for desktop view */
@media screen and (min-width: 769px) {
    
    .c-sidebar {
        display: flex;
        position: fixed;
            top: 95px;
            left: 0;
            z-index: 1;
    }
        .c-intro-content {
            flex-direction: row;
            /* paragraphs in two column */
            width: 90%;
            margin: auto;
            
        }
        .c-intro-content__block{
            max-width: 45%;
        }
    
    /* main section */
        .c-main-section{
             margin-left: 200px; /* Adjust based on sidebar width */
            width: calc(100% - 200px); /* Adjust based on sidebar width */

        }

    /* Add margin to swatch cards */
    .c-swatches__swatch-card{
        margin:1.25rem;
    }

    /* Add margin to table */
    .c-contrast-table{
        margin:1.25rem;
    }

    /* Typography page */
    /* Reduce width of utility section */
    .c-utility-list{
        width: 25%;
    }
    /* about me page */
    .c-desktop-about-me-wrapper{
        width:460px;
    }
    .c-main-section__skills{
        display: flex;
        justify-content: space-around;
        
    }
}