/* Color Variables */
:root {
    
    --clr-primary: #333333;
    --clr-secondary:#260c09;
    --clr-primary-bg: #F5FCFD; 
    --clr-accent: #b4382b;
    --clr-accent-secondary:#1b6c74;
    --clr-secondary-bg: #fdf6f6;  
    --clr-primary-bg-dark:#e5f7fa;
    --clr-white: #FFFFFF;
    
}

/* Utility Classes */

.text-primary {
    color: var(--clr-primary);
}

.text-secondary {
    color: var(--clr-secondary);
}

.bg-primary {
    background-color: var(--clr-primary-bg);
}

.accent-color {
    color: var(--clr-accent);
}

.accent-secondary-color {
    color: var(--clr-accent-secondary);
}

.bg-secondary {
    background-color: var(--clr-secondary-bg);
}
.bg-primary-dark {
    background-color: var(--clr-primary-bg-dark);
}

.text-white {
    color: var(--clr-white);
}

/*Border box fix*/
* {
    box-sizing: border-box;
}

/*Reset margins*/
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
picture {
    margin: 0;
}

/*Remove padding from lists*/
ul,
ol,
li {
    padding: 0;
}