/* Importing fonts from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Verdana&display=swap');

/* Color Variables */
:root {
    /* Primary Colors */
    --clr-primary: #2b2c34;
    --clr-primary-bg: #fffffe;

    /* Accent Colors */
    --clr-accent: #6246ea;
    --clr-accent-secondary: #DB0000;

    /* Background Colors */
    --clr-secondary-bg: #eaeaea;
  

    /* Font variables */
    --font-heading: 'Playfair Display', serif;
    --font-body: 'Verdana', sans-serif;
    --font-size-h1: 2.5rem;
    --font-size-h2: 2rem;
    --font-size-h3: 1.5rem;
    --font-size-body: 1.2rem;
    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-semi-bold: 600;
    --font-weight-bold: 700;
    --line-height-heading: 1.2;
    --line-height-body: 1.5;
    --letter-spacing-heading: 0.05em;
    --letter-spacing-body: 0.02em;
}

/*Set global line-height*/
body {
    line-height: 1.5rem;
}

/* Utility Classes for colors */
.u-text-primary {
    color: var(--clr-primary);
    /* Text color primary */
}

.u-bg-text1{
    background-color: var(--clr-primary);
}


.u-bg-primary {
    background-color: var(--clr-primary-bg);
    /* Background color primary */
}
.u-bg-primary-as-text {
    color: var(--clr-primary-bg);
    /* Background color primary */
}

.u-accent-color {
    color: var(--clr-accent);
    /* Accent color */
}

.u-accent-secondary{
    color:var(--clr-accent-secondary);
}


.u-bg-accent-color {
    background-color: var(--clr-accent);
    /* Background color accent */
}

.u-bg-accent-secondary-color {
    background-color: var(--clr-accent-secondary);
    /* Background color accent secondary */
}

.u-bg-secondary {
    background-color: var(--clr-secondary-bg);
    /* Background color secondary */
}


/* Utiliy classes for font */
.u-heading {
    font-family: var(--font-heading);
    /* Heading font */
}

.u-body-text {
    font-family: var(--font-body);
    /* Body font */
}

.u-heading-1 {
    font-size: var(--font-size-h1);
    /* Heading 1 font size */
}

.u-heading-2 {
    font-size: var(--font-size-h2);
    /* Heading 2 font size */
}

.u-heading-3 {
    font-size: var(--font-size-h3);
    /* Heading 3 font size */
}

.u-body-text-size {
    font-size: var(--font-size-body);
    /* Body text font size */
}

.u-font-normal {
    font-weight: var(--font-weight-normal);
    /* Font weight normal */
}

.u-font-medium {
    font-weight: var(--font-weight-medium);
    /* Font weight medium */
}

.u-font-semi-bold {
    font-weight: var(--font-weight-semi-bold);
    /* Font weight semi-bold */
}

.u-font-bold {
    font-weight: var(--font-weight-bold);
    /* Font weight bold */
}

.u-heading-line-height {
    font-weight: var(--line-height-heading);
    /* Heading line height */
}

.u-body-line-height {
    font-weight: var(--line-height-body);
    /* Body line height */
}

.u-heading-spacing {
    font-weight: var(--letter-spacing-heading);
    /* Heading letter spacing */
}

.u-body-spacing {
    font-weight: var(--letter-spacing-body);
    /* Body letter spacing */
}

/* Border box fix */
* {
    box-sizing: border-box;
    /* Box sizing border box */
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
picture {
    margin: 0;
    /* Resetting margins */
}

/* Remove padding from lists */
ul,
ol,
li {
    padding: 0;
    /* Resetting padding for lists */
}

/* Base Spacing Classes */
/* Margin 0 */
.l-m-0 {
    margin: 0;
}

/* Margin 1rem */
.l-m-1 {
    margin: 1rem;
}

/* Margin 1.5rem */
.l-m-1-5 {
    margin: 1.5rem;
}

/* Margin top 0 */
.l-mt-0 {
    margin-top: 0;
}

/* Margin top 1rem */
.l-mt-1 {
    margin-top: 1rem;
}

/* Margin top 2rem */
.l-mt-2 {
    margin-top: 2rem;
}
/* Margin top 3rem */
.l-mt-3 {
    margin-top: 3rem;
}

/* Margin top 1.5rem */
.l-mt-1-5 {
    margin-top: 1.5rem;
}

/* Margin top 2.5rem */
.l-mt-2-5 {
    margin-top: 2.5rem;
}

/* Margin top 3.5rem */
.l-mt-3-5 {
    margin-top: 3.5rem;
}

/* Margin bottom 1rem */
.l-mb-1 {
    margin-bottom: 1rem;
}

/* Margin bottom 1.25rem */
.l-mb-1-25 {
    margin-bottom: 1.25rem;
}

/* Margin bottom 1.5rem */
.l-mb-1-5 {
    margin-bottom: 1.5rem;
}

/* Margin bottom 2rem */
.l-mb-2 {
    margin-bottom: 2rem;
}

/* Margin bottom 3.5rem */
.l-mb-3-5 {
    margin-bottom: 3.5rem;
}

/* Margin left 1rem */
.l-ml-1 {
    margin-left: 1rem;
}

/* Margin left 1.25rem */
.l-ml-1-25 {
    margin-left: 1.25rem;
}

/* Margin left 1.5rem */
.l-ml-1-5 {
    margin-left: 1.5rem;
}

/* Margin left 2rem */
.l-ml-2 {
    margin-left: 2rem;
}

/* Margin left 3.5rem */
.l-ml-3-5 {
    margin-left: 3.5rem;
}

/* Margin right 1rem */
.l-mr-1 {
    margin-right: 1rem;
}

/* Margin right 1.25rem */
.l-mr-1-25 {
    margin-right: 1.25rem;
}

/* Margin right 1.5rem */
.l-mr-1-5 {
    margin-right: 1.5rem;
}

/* Margin right 2rem */
.l-mr-2 {
    margin-right: 2rem;
}

/* Margin right 3.5rem */
.l-mr-3-5 {
    margin-right: 3.5rem;
}

/* Margin horizontal 1rem */
.l-mx-1 {
    margin-left: 1rem;
    margin-right: 1rem;
}

/* Margin horizontal auto */
.l-mx-auto {
    margin-left: auto;
    margin-right: auto;
}

/* Padding left 1rem */
.l-pl-1 {
    padding-left: 1rem;
}

/* Padding right 1rem */
.l-pr-1 {
    padding-right: 1rem;
}

/* Padding right 1.5rem */
.l-pr-1-5 {
    padding-right: 1.5rem;
}

/* Padding left 1.5rem */
.l-pl-1-5 {
    padding-left: 1.5rem;
}

/* Padding horizontal 1rem */
.l-px-1 {
    padding-left: 1rem;
    padding-right: 1rem;
}

/* Padding vertical 1rem */
.l-py-1 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

/* Padding top 1rem */
.l-pt-1 {
    padding-top: 1rem;
}

/* Padding bottom 1rem */
.l-pb-1 {
    padding-bottom: 1rem;
}

/* Padding top 1.5rem */
.l-pt-1-5 {
    padding-top: 1.5rem;
}

/* Padding bottom 1.5rem */
.l-pb-1-5 {
    padding-bottom: 1.5rem;
}

/* Padding 1rem */
.l-p-1 {
    padding: 1rem;
}

/* Padding 1.5rem */
.l-p-1-5 {
    padding: 1.5rem;
}
/* Base Layout Classes */
/* Display block */
.l-block {
    display: block;
}

/* Display flex */
.l-flex {
    display: flex;
}

/* Flex direction row */
.l-direction-row {
    flex-direction: row;
}

/* Flex direction column */
.l-direction-column {
    flex-direction: column;
}

/* Flex wrap */
.l-wrap {
    flex-wrap: wrap;
}

/* Full content width */
.l-content-width {
    width: 100%;
}

/* Justify flex end */
.l-justify-flex-end {
    justify-content: flex-end;
}

/* Vertical alignment top */
.l-vtl-alignment-top {
    vertical-align: top;
}

