/* Color Variables */
:root {
    
    --clr-primary: #35424D;
    
    --clr-primary-bg: #ffffff;
    --clr-primary-bg-dark: #EEFBFB;
    --clr-accent: #EA574E;
    
    --clr-secondary-bg: #A9D6E8;
    
    --clr-accent-dark: #802000;
    
    --clr-white: #FFFFFF;
    
    --clr-accent-light: #EB8E8E;
    
    --clr-bg-accent: #6D7C70;
    
    
        
        
    
}

/* Utility Classes */
.text-primary {
    color: var(--clr-primary);
}

.text-white{
    color:var(--clr-white);
}

.bg-primary {
    background-color: var(--clr-primary-bg);
}

.text-accent {
    color: var(--clr-accent);
}

.bg-accent {
    background-color: var(--clr-bg-accent);
}

.text-secondary {
    color: var(--clr-secondary-text);
}

.bg-secondary {
    background-color: var(--clr-secondary-bg);
}

.text-accent-light {
    color: var(--clr-accent-light);
}

.bg-accent-light {
    background-color: var(--clr-accent-light);
}

.text-accent-dark {
    color: var(--clr-accent-dark);
}

.bg-dark-primary{
background-color: var(--clr-primary-bg-dark);
}
.bg-accent-dark {
    background-color: var(--clr-accent-dark);
}
/*Border box fix*/
* {
    box-sizing: border-box;
}

/*Reset margins*/
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
picture {
    margin: 0;
}

/*Remove padding from lists*/
ul,
ol,
li {
    padding: 0;
}